* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    margin-inline: auto;
}

header {
    height: 100vh;
    background-image: url("../../assets/img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigation {
    width: 100%;
    padding: 10px 0 10px 0;
}

.navigation .box-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation .box-navigation .box:nth-child(1) h1 {
    font-size: 38px;
    color: black;
}

.navigation .box-navigation .box:nth-child(2) ul {
    display: flex;
    flex-direction: row;
}

.navigation .box-navigation .box:nth-child(2) ul li {
    list-style-type: none;
    margin-left: 40px;
}

.navigation .box-navigation .box:nth-child(2) ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3 ease;
    -moz-transition: all 0.3 ease;
    -ms-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {
    color: white;
}

.navigation .box-navigation .box:nth-child(3) {
    display: none;
}

/* Hero Style */
header .hero{
    max-width: 650px;
    margin: 140px 200px;
    display: flex;
    flex-direction: column;
    /* position: absolute;

    top: 40%;
    left:35%;
    margin-left: auto;
    transform: translate(-60%, -50%);
    -webkit-transform: translate(-60%, -50%);
    -moz-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    -o-transform: translate(-60%, -50%); */
}

header .hero h1 {
    color: white;
    font-size: 150px;
    font-weight: 900;
    margin-bottom: auto;
    letter-spacing: 2px;
}

header .hero p {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}


header .hero .info-btn {
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    width: 150px;
    background-color: rgb(136, 216, 245);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 7px;
    transition-property: background;
}

header .hero .info-btn:hover {
    background: rgb(238, 200, 76);
}

.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f6fff8;
}

.about .box-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.about .box-about .box {
    text-align: center;
}

.about .box-about .box p {
    font-weight: 400;
}

/* famous style */
.famous {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(91, 234, 234);
}

.famous .box-famous {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 170px 0 170px;
}

.famous .box-famous .box {
    text-align: center;
    padding-top: 56px;
    padding-bottom: 120px;
}

.famous .box-famous .box h1{
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
}

.famous .box-famous .box img {
    width: 150px;
}

.famous .container h1 {
    padding-top: 5%;
    text-align: center;
}

.famous .box-famous .box .info-btn {
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    width: 150px;
    background-color: rgb(236, 204, 74);
    text-decoration: none;
    font-weight: 400;
    top: 20%;
    padding: 10px 20px;
    border-radius: 5px;
    transition-property: background;
}

/* company style */
.company {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    background-image: url("../../assets/img/bg-grid.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.company .box-company {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.company .box-company .box:nth-child(1) {
    padding-right: 40px;
}

.company .box-company .box:nth-child(1) h1 {
    font-size: 42px;
}

.company .box-company .box:nth-child(1) p {
    line-height: 2;
}

.company .box-company .box:nth-child(2) img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 400px;

}

@media screen and (max-width: 990px) {
    .navigation .box-navigation .box:nth-child(2) {
        display: flex;
        position: absolute;
        top: 50px;
        right: 50px;
        background-color: white;
        width: 250px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        opacity: 0;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }

    .navigation .box-navigation .menu-navigation.menu-active {
        opacity: 1;
        top: 100px;
    }

    .navigation .box-navigation .box:nth-child(2) ul {
        flex-direction: column;
    }

    .navigation .box-navigation .box:nth-child(2) ul li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navigation .box-navigation .box:nth-child(2) ul li a {
        color: black;
    }

    .navigation .box-navigation .box:nth-child(3) {
        display: flex;
        align-items: center;
    }

    .navigation .box-navigation .box:nth-child(3) i {
        font-size: 24px;
    }

    header .hero{
        max-width: 650px;
        margin: 163px 124px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1023px){
    .famous .box-famous {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;

    }

    .famous .box-famous .box {
        text-align: center;
        padding-top: 56px;
        padding-bottom: 38px;
    }

    .company .box-company {
        flex-direction: column-reverse;
        padding-left: 0px;
        padding-right: 0px;
    }

    .company .box-company .box:nth-child(1) {
        text-align: center;
        padding-right: 0px;
    }

    .company .box-company .box:nth-child(1) h1 {
        font-size: 30px;
    }

    .company .box-company .box:nth-child(1) p {
        font-size: 15px;
    }



    
}

@media screen and (max-width: 816px){
    header .hero {
        max-width: 416px;
        margin: 171px 65px;
        display: flex;
        flex-direction: column;
    }

    header .hero h1 {
        color: white;
        font-size: 100px;
        font-weight: 900;
        margin-bottom: auto;
        letter-spacing: 2px;
    }

    header .hero p {
        color: white;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 50px;
    }

    
}

@media screen and (max-width: 509px){
    header .hero {
        max-width: 416px;
        margin: 211px 53px;
        display: flex;
        flex-direction: column;
    }

    header .hero h1 {
        color: white;
        font-size: 80px;
        font-weight: 900;
        margin-bottom: auto;
        letter-spacing: 2px;
    }

    header .hero p {
        color: white;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 50px;
    }
}